.nav{
    list-style-type: none;
    width: 100vw;
    background-color: white;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

li{
    list-style-type: none;
    padding: 25px 10px;
    margin: 0;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
    padding: 25px 10px;
    font-family: monospace;
  }

a:hover{
    background-color:darkgrey ;
    color: white;
}

.logo{
    float: right;
}
